/* Meyer Reset :)
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* end Meyer Reset */

body {
  border-radius: 10px;
  font-family: "proxima-nova", Arial, sans-serif;
  background-image: url(galaxy.png);
}

#header {
  padding: .5rem;
  text-align: center;
  background: #f8f8f8;
  border-bottom: solid 1px #ccc;
  color: #8b8b8b;
}

#container {
  padding: .5rem;
  min-width: 265px;
  min-height: 300px;
}
.label-group span:first-child{
  margin-left:6px;
}
.label-group span:nth-child(2){
  margin-left:10px;
}
.label-group span:nth-child(3){
  margin-left:14px;
}
.sp-preview{
  margin-right: 0px;
}

#list > div, #new > div {
  background: #f8f8f8;
  border-radius: 3px;
  border: solid 1px #ccc;
  margin-bottom: .5rem;
  padding: .25rem;
  display: flex;
  justify-content: space-between;
}

.sp-replacer {
  background: none;
  padding: 0;
  border: none;
  padding-left: 2px;
}

.project-name {
  margin-left: .5rem;
}

#sharing {
  width: 100%;
  text-align: center;
}

#sharing-options {
  display: none;
  margin-top: .5rem;
}

#import-export {
  padding: 5px;
  color: #fff;
  background-color: #0087bf;
  border-color: #0087bf;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

input::placeholder {
  color: #ccc;
}
textarea {
  width: 100%;
}

.fa-trash-alt {
  color: red;
}

.fa-check {
  color: green;
}


