.project:empty {
  display: none;
}
.color-swath{
  width: 15px;
  height: 15px;
  margin: 2px;
  display: inline-block;
}
.project-name{
  margin: 2px;
}
.delete-button{
  float: right;
}
#add{
  width: 100%;
  margin: auto
}
#sharing{
  width: 100%;
  text-align: center;
}
#export-import{
  display:none;
}
#import-copy{
  display:none;
}
#import-save{
  display:none;
}
