.project {
  background-color: #801b00 !important;
  border-color: #005b72 !important;
  border-bottom-color: #004b5f !important;
  color: #e1fafb !important;
  float: right;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  background-repeat: no-repeat !important;
  background-position: 3px 3px !important;
  padding: 0 4px!important;
}

